/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";

		modbus0 {
			compatible = "zephyr,modbus-serial";
			status = "okay";
		};
	};
};
 
&pinctrl {
    uart0_userdef: uart0_userdef {
		group1 {
			pinmux = <UART0_TX_P16>;
		};
		group2 {
			pinmux = <UART0_RX_P17>;
			input-enable;
		};
	};

    i2c0_userdef: i2c0_userdef {
		group1 {
			pinmux = <I2C0_SDA_P20>, <I2C0_SCL_P21>;
			input-enable;
			input-schmitt-enable;
		};
	};
};

&uart0 {
	current-speed = <921600>;
	status = "okay";
	pinctrl-0 = <&uart0_userdef>;
	pinctrl-names = "default";
};

&i2c0 {
	pinctrl-0 = <&i2c0_userdef>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;

	ads1115_1: ads1115@48 {
		compatible = "ti,ads1115";
		reg = <0x48>;
        label = "ADS1115_1";
		#io-channel-cells = <1>;
        #address-cells = <1>;
        #size-cells = <0>;
        alert-rdy-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;

        channel@0 {
            reg = <0>;
            zephyr,gain = "ADC_GAIN_1_3";
            zephyr,reference = "ADC_REF_INTERNAL";
            zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 1)>;
        };

        channel@1 {
            reg = <1>;
            zephyr,gain = "ADC_GAIN_1_3";
            zephyr,reference = "ADC_REF_INTERNAL";
            zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 1)>;
        };

        channel@2 {
            reg = <2>;
            zephyr,gain = "ADC_GAIN_1_3";
            zephyr,reference = "ADC_REF_INTERNAL";
            zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 1)>;
        };

        channel@3 {
            reg = <3>;
            zephyr,gain = "ADC_GAIN_1_3";
            zephyr,reference = "ADC_REF_INTERNAL";
            zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 1)>;
        };
	};

	ads1115_2: ads1115@49 {
        compatible = "ti,ads1115";
        reg = <0x49>;  // 2つ目のADS1115のI2Cアドレス
        label = "ADS1115_2";
        #io-channel-cells = <1>;
        #address-cells = <1>;
        #size-cells = <0>;
        alert-rdy-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;

        channel@0 {
            reg = <0>;
            zephyr,gain = "ADC_GAIN_1_3";
            zephyr,reference = "ADC_REF_INTERNAL";
            zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 1)>;
        };

        channel@1 {
            reg = <1>;
            zephyr,gain = "ADC_GAIN_1_3";
            zephyr,reference = "ADC_REF_INTERNAL";
            zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 1)>;
        };

        channel@2 {
            reg = <2>;
            zephyr,gain = "ADC_GAIN_1_3";
            zephyr,reference = "ADC_REF_INTERNAL";
            zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 1)>;
        };

        channel@3 {
            reg = <3>;
            zephyr,gain = "ADC_GAIN_1_3";
            zephyr,reference = "ADC_REF_INTERNAL";
            zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 1)>;
        };
    };
};

/ {
    aliases {
        i2c-main = &i2c0;
    };

    chosen {
        zephyr,console = &uart0;
    };

	hx711_dout: hx711_dout { 
		compatible = "gpio-loadcell";
		gpios = <&gpio0 0  GPIO_ACTIVE_HIGH>,
				<&gpio0 2  GPIO_ACTIVE_HIGH>,
				<&gpio0 4  GPIO_ACTIVE_HIGH>,
				<&gpio0 6  GPIO_ACTIVE_HIGH>,
				<&gpio0 8  GPIO_ACTIVE_HIGH>,
				<&gpio0 10 GPIO_ACTIVE_HIGH>,
				<&gpio0 12 GPIO_ACTIVE_HIGH>,
				<&gpio0 14  GPIO_ACTIVE_HIGH>;
	};

	hx711_sck: hx711_sck { 
		compatible = "gpio-loadcell";
		gpios = <&gpio0 1  GPIO_ACTIVE_HIGH>,
				<&gpio0 3  GPIO_ACTIVE_HIGH>,
				<&gpio0 5  GPIO_ACTIVE_HIGH>,
				<&gpio0 7  GPIO_ACTIVE_HIGH>,
				<&gpio0 9  GPIO_ACTIVE_HIGH>,
				<&gpio0 11 GPIO_ACTIVE_HIGH>,
				<&gpio0 13 GPIO_ACTIVE_HIGH>,
				<&gpio0 15  GPIO_ACTIVE_HIGH>;
	};
};
